<% provide :title, t(".title") %>
<h1>About</h1>
<p>
  <%= link_to "Rails tutorial","http://www.railstutorial.org/" %><em><%= t(".aboutt1") %></em>
  <%= link_to "book", "http://www.railstutorial.org/book" %> 
  <%= link_to "screencast series", "http://screencasts.railstutorial.org/" %>
  <%= t(".aboutt2") %>
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>.
 <%= t(".aboutt3") %>
</p>
